<table class="table table-borderless">
  <thead>
    <th scope="col">
      Código
    </th>
    <th scope="col">
      Artículo
    </th>
    <th scope="col">
      Precio
    </th>
  </thead>
  <tr *ngFor="let producto of this.showProducts()" >

    <td>{{producto.codigo}}</td>
    <td>{{producto.articul}}</td>
    <td>{{producto.cantidad}}</td>
    <td>{{producto.precio}}</td>
    <button routerLink="/modificar/{{producto.codigo}}" [queryParams]="{accion: '2'}" class="btn btn-primary">Modificar</button>
    <button routerLink="/modificar/{{producto.codigo}}" [queryParams]="{accion: '1'}" class="btn btn-danger m-2" >Eliminar</button>
  </tr>
</table>
