<table class="table table-dark">
  <thead>
  <th scope="col">
    Código
  </th>
  <th scope="col">
    Artículo
  </th>
  <th scope="col">
    Precio
  </th>
  </thead>
  <tr >
    <td><input [(ngModel)]="producto.codigo"></td>
    <td><input [(ngModel)]="producto.articul"></td>
    <td><input [(ngModel)]="producto.precio"></td>
    <button routerLink="/" class="btn btn-primary">Modificar</button>
    <button routerLink="/" class="btn btn-danger m-2" (click)="delete()">Eliminar</button>
  </tr>
</table>
